
/*---------------------------------------------------FLEXBOX--------------------------------------------------------------*/

 .flexbox {

     display: flex;

     flex-direction: column;

     /* row is de default, maar toch toegevoegd voor leesbaarheid */
     flex-direction: row;

     /* uitlijning van begin tot eind (indien flex-direction = column, is dat in dit geval boven tot onder, verticaal)*/
     justify-content: flex-end;

     /* uitlijning van begin tot eind indien flex-direction = row, is dat in dit geval links naar rechts, horizontaal )*/
     justify-content: space-between;

     /* uitlijning van begin tot eind (indien direction = row, is dat in dit geval links naar rechts, horizontaal )*/
     justify-content: center;

     /* uitlijning van begin tot eind (indien direction = column, is dat in dit geval boven tot onder, verticaal)*/
     justify-content: center;

     /* uitlijning haaks op de flex-richting (indien flex-direction = row, is dat in dit geval boven naar beneden, verticaal).
      Dit zorgt ervoor dat het woordje Edhub op dezelfde hoogte staat als de menu-items. */
     align-items: center;

     /* uitlijning haaks op de flex-richting (indien flex-direction = column, is dat in dit geval links naar rechts, horizontaal) */
     align-items: center;

     /* alle items groeien NIET mee in verhouding tot de overgebleven ruimte */
     flex-grow: 0;

     /* alle items groeien met evenveel fracties van de overgebleven beschikbare ruimte*/
     flex-grow: 1;

     /* alle items worden NIET kleiner dan de basis */
     flex-shrink: 0;

     /* alle items worden evenredig kleiner dan de basis wanneer er geen ruimte is */
     flex-shrink: 1;

     /*Als we geen basis breedte meegeven wordt de container net zo groot als de content die erin zit.
     Dan is er niks te 'verspreiden' omdat er geen ongebruikte lege ruimte is.
     Zorg daarom altijd dat de container groter is dan de content, als je dit wil bereiken.  */
     flex-basis: 300px;

     /*Wanneer we geen basis-breedte meegeven, hebben de items ook geen ruimte om zich evenredig te verdelen!*/
     flex-basis: 400px;

     /* als het niet meer past, ga verder op de volgende rij*/
     flex-wrap: wrap;

     font-weight: bold;
     /*Zet TEKST nooit hardcoded als HOOFDLETTERS op de pagina, maar transformeer de letters met CSS*/
     text-transform: uppercase;

     /*Boven en onder 30px + links en rechts 40px */
     padding: 30px 40px;

     /*Zo haal je de bullets van een lijst af*/
     list-style: none;

 }


/*Om ervoor te zorgen dat afbeeldingen netjes mee schalen wanneer het scherm breder of smaller wordt,
hebben we een andere aanpak nodig dan bij "normale" HTML-elementen.
Dit doen we door onze afbeelding in een wrapper-element te wikkelen, zoals bijvoorbeeld een <span>:

<span class="image-wrapper">
		<img src="..." alt="..."/>
</span>*/


/*Vervolgens geven we de afbeelding altijd een width: 100%, zodat ze altijd 100% van de beschikbare ruimte zullen innemen.
Het wrapper-element krijgt vervolgens een maximale breedte mee (doormiddel van max-width of flex-basis),
waardoor de afbeelding zich telkens zal aanpassen aan het omwikkelende element:*/

/*img {
    width: 100%;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}*/


/*Maak correct gebruik van de submit-button, inputs, labels en name-attributen. Doe dit vóór je begint met styling;

Blijf weg van absolute breedtes wanneer je invoervelden gaat stylen. Gebruik altijd een width: 100% en laat het formulier
(of een ander omwikkelend element) bepalen hoe breed de velden moeten zijn.
Tip: je kunt placeholders stylen doormiddel van de ::placeholder-selector!*/


/*---------------------------------------------------HTML--------------------------------------------------------------*/


/*Gebruik een afbeelding als achtergrond-afbeelding, doormiddel van de background-image-property.
Vervolgens kun je de background-size en de background-position-property gebruiken om de afbeelding netjes de header te laten bedekken.*/

/*Voor je aan de slag kunt met alle content in het <main>-gedeelte van de webpagina,
is het belangrijk om het main element eerst even goed in te stellen, zodat alle content op dezelfde afstand van de rand komt te staan.
Geef het <main>-element een maximale breedte van 1000px en plaats hem in het midden met de juiste margin.*/

/*Tip: afbeelding te groot? Zet 'm op 100%, dan wordt hij niet groter dan het element waar hij in staat.*/

/*Het speciale <details>-element regelt het in- en uitklappen van tekst.*/
/*De muis kan veranderen in een pointer, wanneer de gebruiker er overeen hovert.*/
/*Om een afbeelding en de naam naast elkaar te krijgen in plaats van onder elkaar,
zul je iets moeten doen met de display-property van de naam.*/
/*Tip: wil je ze netjes uitlijnen met de tekst? Spiek dan eens bij de vertical-align-property!*/


/*Kijk goed naar de inhoud van de tekst om te ontdekken welke bijzonderheden daarin staan.
Denk bijvoorbeeld aan het gebruik van <strong>, <em>, <time>, <cite>, <blockquote>, <code>, <samp> en <sub>.*/

/*Zorg er ook voor dat een video het plaatje placeholder_video.png weergeeft als de video niet wordt afgespeeld.
Dit noem je een thumbnail.*/
/*Houdt er bij het inrichten van een tabel rekening mee dat je o.a. een <thead> en <tbody> gebruikt*/

/*Als de gebruiker op de titels zou kunnen klikken en direct naar dat gedeelte van de pagina geleid wordt,
kunnen we dit doen met behulp van jumplinks: door een titel te voorzien van een id-attribuut, kunnen we daarnaartoe linken.*/


/*---------------------------------------------------CSS BORDER COLORS--------------------------------------------------------------*/


/*body {*/
/*  border: 4px solid #96ec15;*/
/*}*/

/*header,*/
/*footer {*/
/*  border: 4px solid #15ecec;*/
/*}*/

/*nav {*/
/*  border: 4px solid darkorchid;*/
/*}*/

/*main {*/
/*    border: 4px solid #0b0a0a;*/
/*}*/

/*ul {*/
/*    border: 4px solid #0059ff;*/
/*}*/

/*li {*/
/*    border: 4px solid orange;*/
/*}*/

/*div {*/
/*  border: 4px solid #e76455;*/
/*}*/

/*article {*/
/*  border: 4px solid darkred;*/
/*}*/

/*p {*/
/*  border: 4px solid darkcyan;*/
/*}*/

/*h6 {*/
/*  border: 4px solid darkslateblue;*/
/*}*/

/*form {*/
/*  border: 4px solid hotpink;*/
/*}*/

/*img {*/
/*  border: 4px solid yellow;*/
/*}*/

/*.image-wrapper {*/
/*    border: 4px solid #fb9468;*/
/*}*/

/*section {*/
/*    border: 4px solid #444040;*/
/*}*/


@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');


/*---------------------------------------------------TABLE OF CONTENTS--------------------------------------------------------------*/
/*////////////////////////

    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Services
        4.4 Portfolio
        4.5 Contact
        4.6 Footer
    5. Media Queries
////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
    /*Dit is belangrijk zodat de breedtes en hoogtes van elementen worden berekend INCLUSIEF padding en borders */
    box-sizing: border-box;
}


body {
    /*font-family: Avenir, Arial, sans-serif;*/
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: white;
    color: #617d98;
    text-align: center;

}


/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, 'Times New Roman', serif;
}

h1, h2 {
    font-size: 46px;
    padding: 16px 0;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
    padding: 12px 0;
    margin: 24px 0;
}

h5 {
    font-size: 32px;
    padding: 12px 0;
}

h6 {
    font-size: 32px;
    line-height: 1.5;
    padding: 12px 0;
}

p {
    margin: 12px 0;
}

/* ------------------------------- 3. Layout --------------------------------------- */


/* --------------- 3.1 Reusables ----------------------- */

/* De buitenste container is altijd de volledige schermbreedte.
Het is een flexbox container die zijn inhoud altijd netjes horizontaal centreert */
.outer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


    /*De binnenste container is maximaal 1400px breed, zodat het er ook goed uitziet op brede schermen.
    Hij mag krimpen als het scherm minder breed wordt, maar niet groeien als er meer ruimte is.*/
    .inner-content-container {
        flex-basis: 1400px;
        flex-shrink: 1;
        flex-grow: 0;
        /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
        margin: 0 20px;
        /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is,
        waarin alle children onder elkaar komen te staan*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .image-wrapper-small {
    max-width: 200px;
    flex-shrink: 1;
    flex-grow: 0;
        margin: 20px;
    }


    .image-wrapper-big {
    max-width: 400px;
    flex-shrink: 1;
    flex-grow: 0;
    }


    img {
    max-width: 100%
    }


    /*We gebruiken hier geen flex-basis property, omdat dit element soms in een parent met column-richting en soms in een
    parent met row-richting kan staan.
    In een column gaat flex-basis over de hoogte, niet de breedte.
    Dus om dan alsnog de breedte te veranderen, hebben we max-width (nooit groter dan dit) property nodig */
    .default-text-restrictor {
        max-width: 850px;
        text-align: center;
    }

    .default-area-padding {
        padding: 20px 0;
    }


    /* --------------- 3.2 Other --------------------------- */

    a,
    a:visited,
    a:link {
        text-decoration: none;
        /*color: #c6572f;*/
        color: #617d98;
    }

    button {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        /*background-color: #7a7777;*/
        background-color: #617d98;
        border: none;
        border-radius: 50px;
        box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
        padding: 25px 40px;
        margin: 28px 0;
    }

    button:hover {
        cursor: pointer;
        background: #7a7777;
        /*background: #617d98;*/

    }


    /* ------------------------------- 4. Areas ---------------------------------------- */

    /* --------------- 4.1 Header ------------------------- */

    #header {
        background: #284949;
        /*Mocht een verouderde browser geen gradients ondersteunen,
        dan valt de browser terug op de "effen" achtergrondkleur hierboven*/
        /*background: linear-gradient(129deg, #284949 0%, #315050 26%, #f8d857 100%);*/
        background: linear-gradient(129deg, #284949 0%, #315050 26%, #c6572f 100%);
        color: white;
        padding: 30px 0;
        position: relative;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        /*De <ul> die in de <nav> zit, wordt rechts (einde van de rij) uitgelijnd */
        justify-content: flex-end;
        /*De <nav> moet de beschikbare breedte van de pagina aannemen, anders valt er niks uit te lijnen aan de rechterkant */
        width: 100%;
    }

    .navbar ul {
        /*Om ervoor te zorgen dat de menu-items op normale afstand van elkaar staan,
        zorgen we dat de parent: <ul> minimaal 400px breed is*/
        flex-basis: 400px;
        flex-shrink: 1;
        flex-grow: 0;
        list-style-type: none;
        /*Dit flex-item is op haar beurt ook weer een flex-container, die de <li> die erin zitten netjes evenredig verdeelt*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-content-navigation a {
        color: #617d98;
    }

    .header-content {
        /*padding: 10px 0;*/
        /*margin-bottom: 88px;*/
        /*margin: 44px;*/
        font-size: 28px;
    }

    .header-content p {
    color: #617d98;
    }

    /**/
    .header__squiggle {
        display: block;
        width: 78px;
        height: 100px;
        margin: 60px 0 0 0;
        position: absolute;
        bottom: 0;
        /*Hiermee zeggen we: plaats 'm horizontaal gezien op 50% van de breedte,
        MAAR wel min de helft van de breedte van de afbeelding zelf (width: 78px) */
        left: calc(50% - 39px);
        /*background-image: url(./assets/squiggle_line_stripe.svg);*/
    }
    /**/


    /* --------------- 4.2 Introduction ------------------- */

    #intro {

        /*background-color: #bab7b7;*/
        background-color: white;
        color: #3e6565;
    }

    .intro-title {
        color: #3e6565;
    }

    .intro__link {
        color: #0c0c0c;
        font-weight: 500;
        /*margin-top: 100px;*/
    }



/* --------------- 4.3 Services------------------------ */

#services {
    background-color: white;
}

.services-title {
    margin: 20px;
    color: #617d98;
}


/*#services > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*    gap: 40px;*/
/*    padding: 100px 0 50px 0;*/
/*}*/


.grid-service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.grid-service-tile {
    /*De tegel moet in de basis 480 breed zijn*/
    /*flex-basis: 384px;*/
    flex-basis: 480px;
    /*Als er meer ruimte is, mag hij NIET groter worden*/
    flex-grow: 0;
    /*Als er minder ruimte is, krimpt hij 1 fractie (dus alle tegels evenveel) van de ingeleverde ruimte*/
    flex-shrink: 1;
    /*Deze tegel is op zijn beurt weer een flexbox-container */
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 10px;
    background-color: #284949;
    /*border: 2px solid #c6572f;*/
    border-radius: 40px;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.1);
    color: #617d98;
    font-size: 16px;
}

.service-tile__title {
    color: white;
    font-size: 24px;
}

.service-tile__icon {
    width: 80px;
}


    /* --------------- 4.4 Portfolio --------------------------- */


    /*Draai de volgorde van de afbeelding EN tekst om bij de 1e, 3e, etc.*/
    /*.work-article:nth-of-type(odd) {*/
    /*    flex-direction: row-reverse;*/
    /*}*/
    /*.work-article__image-wrapper img {*/
    /*    !*Om afbeeldingen goed mee te laten schalen met de wrapper, zet je de afbeelding zelf altijd op 100% breedte.*/
    /*    Zo past de afbeelding zich telkens aan, aan zijn omgeving*!*/
    /*    width: 100%;*/
    /*    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);*/
    /*}*/


:root {
    --transition: all 0.3s linear;
    --radius: 0.25rem;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


#portfolio {
    background-color: white;
}


.portfolio-title {
    color: #617d98;
}


.portfolio-container {
    margin: 40px;
    /*margin: 0 auto;*/
    /*margin-top: 4rem;*/
    width: 80vw;
    height: 460px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}


.portfolio-img {
    /*border-radius: 50%;*/
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    /*object-fit: cover;*/
    /*border: 4px solid;*/
    /*color: grey;*/
    /*box-shadow: var(--dark-shadow);*/
}

.portfolio-domain-name {

}


.portfolio-text {
    max-width: 35em;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 2;
    color: #617d98;
}


/*.portfolio-icon {*/
/*    font-size: 3rem;*/
/*    margin-top: 1rem;*/
/*    color: grey;*/
/*}*/


.prev,
.next {
    position: absolute;
    top: 200px;
    transform: translateY(-80%);
    background: #284949;
    color: white;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
}

.prev:hover,
.next:hover {
    /*background: grey;*/
    background: #617d98;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


@media (min-width: 800px) {
    .text {
        max-width: 45em;
    }

    .prev,
    .next {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
}


article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}


article h4 {
    text-transform: uppercase;
    color: black;
    margin-bottom: 0.25rem;
}


article h6 {
    text-transform: uppercase;
    color: black;
    margin-bottom: 0.25rem;
}


article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}


    /* --------------- 4.5 Contact ------------------------ */

    #contact {
        background: #284949;
        /*Mocht een verouderde browser geen gradients ondersteunen, dan valt de browser terug op de "effen" achtergrondkleur hierboven*/
        /*background: linear-gradient(129deg, #f8d857 0%, #315050 26%, #284949 100%);*/
        background: linear-gradient(129deg, #c6572f 0%, #315050 26%, #284949 100%);
        color: white;
        position: relative;
    }

    #contact p{
        color: #617d98;
    }

    .contact-content__form {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }


    .contact-content__form input,
    .contact-content__form textarea {
        background-color: white;
        border: 1px solid grey;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        padding: 20px;
        display: block;
        font-size: 16px;
        color: #7A7A7A;
        width: 100%;
    }

    .contact-content__form input::placeholder,
    .contact-content__form textarea::placeholder {
        color: grey;
    }

    .contact-content__form label {
        font-size: 16px;
        font-weight: 600;
        padding: 20px 0;
    }

    .contact-content__form button {
        width: 200px;
        align-self: center;
    }


    /* --------------- 4.6 Footer ------------------------- */

    #footer {
        background-color: #284949;
        color: grey;
        text-align: center;
        padding: 20px 0;
        font-size: 14px;
    }


    /* ------------------------------- 5. Media Queries -------------------------------- */
    /*Omdat hier maar zo weinig media-queries nodig zijn is er gebruik gemaakt van een max-width query.*/
    /*Normaliter maak je altijd gebruik van min-width queries, waarbij de versie voor mobiel BINNEN de query staat, */
    /*en de versie voor desktop juist BUITEN de query*/

    @media screen and (max-width: 576px) {
        h1, h2 {
            font-size: 36px;
            padding: 16px 0;
        }

        h3 {
            font-size: 26px;
        }


        h6 {
            font-size: 22px;
            line-height: 1.5;
            padding: 12px 0;
        }

        .header-content__navigation {
            justify-content: center;
        }

        .header-content__navigation a {
            font-size: 16px;
            font-weight: 600;
        }

        .intro__link {
            margin: 50px 0 0 0;
        }


    }

